body{
}

.contentDiv{
    margin:0 10%;
}

.loadStudentBtn{
    float:right;
    padding:3px;
    font-size:15px;
    cursor:pointer;
    margin-right:6%;
    font-family:'汉仪清芬体';
}

.tableMain{
    font-size:20px;
    width:100%;
    margin:0 auto;
    font-family:'汉仪清芬体';
}

.tableHead{
    padding:1px;
    padding-right:1%;
    height:30px;
}

.numberText{
    font-size:40px;
}


/*上传部分*/
.uploadFileWindow {
    position: fixed;
    top:180px;
    left:calc(50% - 240px);
    height: 180px;
    width: 480px;
    border: 1px solid #169bd5;
    border-radius: 20px;
    background-color: white;
}

.uploadFile_chooseFile{
    position: absolute;
    left: 2%;
    top: 20%;
    font-size: 18px;
}

.uploadFile_confirm{
    position: absolute;
    left: 2%;
    bottom: 20%;
    padding: 4px;
    font-size: 18px;
}

.windowCloseBtn{
	position: absolute;
	top: -15px;
	right: -15px;
	width: 45px;
	height: 45px;
	background:url(../image/icon/timg.png);
	background-size: 100%;
	cursor: pointer;
}

.windowCloseBtn:hover{
	transform: scale(1.1);
}

.windowCloseBtn:active{
	transform: scale(0.9);
}