.msgWindow{
    background-color: aliceblue;
    margin:0 10%;
    width 100%;
}

.msgWindow_history{
    width: 100%;
}

.msgBox{
    border: 1px solid black;
    background-color: white;
}

.msgInfo{
    margin: 10px;
}

.msgInfo_msg{
    resize: none;
    font-size:18px;
    margin:5px;
    font-family:"汉仪清芬体";
}

.msgInfo_name{

}

.msgInfo_time{

}

.msgWindow_send{
    height: 200px;
    width: 80%;
    margin:0 10%;
}

.send_inputMsg{
    padding:8px;
    width:100%;
    height:70%;
    font-size: 18px;
    resize: none;
}

.send_sendMsg{
    padding:5px;
    font-size: 18px;
    border-radius: 5px;
    outline: 0;
    cursor:pointer;
    float:right;
    margin:0 3%;
    margin-top:8px;
}