@font-face {
	font-family:'方正喵呜体';
	src: url(../font/FZMWFont.ttf);
}

@font-face {
	font-family:'迷你卡通体';
	src: url(../font/迷你简卡通_downcc.ttf);
}


@font-face {
	font-family:'阿丽达黑体';
	src: url(../font/阿丽达黑体.ttf);
}

@font-face {
	font-family:'汉仪清芬体';
	src: url(../font/HYQingFenTiW.ttf);
}