*{
	margin: 0;
	padding: 0;
	font-family: "Arial Negreta","Arial Normal","Arial";
}/*清空所有样式*/

.headTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: rgba(25, 158, 216, 1);
	color: #f2f2f2;
}/*顶部蓝色div样式*/

.headTitle_首页{
	position: absolute;
	top: 10px;
	left: 2%;
	font-size: 1.75rem; 
	font-weight: 700;
	cursor: pointer;
}/*首页字体样式*/

.headTitle_返回{
	position: absolute;
	top: 10px;
	left: 2%;
	font-size: 1.75rem;
	font-weight: 700;
	cursor: pointer;
}/*首页字体样式*/

.headTitle_班级名称{
	position: absolute;
	top: 10px;
	left: 40%;
	width: 20%;
	font-size: 1.75rem;
	font-weight: 700;
	user-select: none;
}

.headTitle_上传文件{
	position: absolute;
	top: 10px;
	right: 2%;
	font-size: 1.75rem;
	font-weight: 700;
	cursor: pointer;
}/*首页字体样式*/

.headSmallFont{
	position: absolute;
	font-size: 1.25rem;
	top:15px;
	font-weight: 700;
	cursor: pointer;
}/*我的班级、创建班级、登陆注册统一样式样式*/


.headTitle_我的班级{
	left: 12.5%;
}

.headTitle_创建班级{
	left: 22.5%;
}

.headTitle_登录注册{
	right:3%;
}
.headTitle_登录注册文本:hover{
	border-bottom: 1px solid #ffffff;
}
.headTitle_登录{
	right:5%;
}
.headTitle_注册{
	right:2%;
}


.headTitle_搜索框背景{
	position: absolute;
	top:5px;
	left: 32.5%;
	width: 40%; 
	height: 50px;
	background-color: white;
	border: 1px solid rgba(121, 121, 121, 1);
	border-radius:10px;
}

.headTitle_搜索图标{
	position: relative;
	top: 7px;
	left: 12px;
	height: 36px;
	width: 36px;
	opacity:0.5
} 

.headTitle_搜索文本{
	font-size: 1.25em;
	position: relative;
	top: -3px;
	left: 17px;
	font-family: "Arial Normal","Arial";
	width: calc(90% - 58px);
	border: 0px;
}

.bodyContext{
	position: absolute;
	top:80px;
	margin-top:38px;
	display: flex;
	flex-wrap: wrap;
}/*显示全部班级的大div*/

.bodyContext_class{
	position: relative;
	width: 350px;
	height: 248px;
	margin-left: 30px; 
	margin-bottom: 30px; 
	border: 1px solid rgb(121,121,121);
	background-color: rgba(51, 0, 102, 1);
}/*显示单个班级的div*/

.bodyContext_class_title{
	font-size: 28px;
	font-weight: 700;
	margin-top: 40px;
	color: white;
	text-align: center;
}/*班级标题*/

.bodyContext_class_btnBox{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 65%;
	font-size: 0;
}/*装班级选项全部按钮div*/

.bodyContext_class_BoxidAndintroduce{
	position: absolute;
	right: 2%;
	left: 2%;
	bottom: 0%;
	height: 60%;
	font-size: 18px;
	overflow: hidden;
}/*装班级id和介绍*/


.bodyContext_class_boxid{
	position: absolute;
	top: -2%;
	height: 15%;
	overflow: hidden;
}/*装班级id和介绍*/

.bodyContext_class_introduce{
	position: absolute;
	top: 15%;
	height: 50%;
	overflow: hidden;
}/*装班级id和介绍*/


.bodyContext_class_btn{
	border:1px solid;
	margin-left: 3.7%;
	margin-top: 6%;
	width: 28.2%;
	height: 43px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}/*班级选项按钮通用*/

.bodyContext_class_班级介绍{
	
}
.bodyContext_class_加入班级{
	position:absolute;
	bottom: 5%;
	height: 30%;
	right: 0;
}
.bodyContext_class_班级学生{
	
}

.bodyContext_class_作业{
	
}
.bodyContext_class_课程资源{
	
}
.bodyContext_class_讨论{
	
}
.bodyContext_class_留言{
	
}