*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(235,177,129);
}

.loginBox{
	position: absolute;
	width: 280px;
	top: 10%;
	left: calc(50% - 140px);
}

.login_title{
	font-size: 30px;
	color: #696969;
}

.itemInfo{
	position: relative;
	margin: 10px;
	margin-top: 20px;
	width: 200px;
	height: 47px;
	border: 1px solid #696969;
}

.itemImg{
	position: absolute;
	height: 45px;
	width: 45px;
	border: 1px white solid;
}

.itemInput{
	position: absolute;
	width: 154px;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0px;
}

.item_num{
	background:url(../image/icon/hot.png) no-repeat;
	background-size: 100%;
}

.item_pwd{
	background:url(../image/icon/kids%20lock.png) no-repeat;
	background-size: 100%;
	
}

.item_ident{
	background:url(../image/icon/user.png) no-repeat;
	background-size: 100%;
	
}
