<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>作业列表</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/classHomeworkList.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/classHomeworkList.css}"/>

</head>
<body>
    <div class="headTitle">
        <div class="headTitle_返回" onclick="returnIndex()">
            <p>返回</p>
        </div>
        <div class="headTitle_班级名称">
            <p>班级名称</p>
        </div>
        <div class="headTitle_上传文件">
            <p>发布新作业</p>
        </div>
    </div>
    <div class="homeworkListWindow">
        <br/>
        <div class="homeworkBox">
            <div class="homeworkInfo" th:each="item:${homeworklist}">
                <span th:text="${item.ah_name}">作业名称</span>
                <span>开始时间</span><span th:text="${#dates.format(item.ah_starttime,'yyyy-MM-dd HH:mm')}">开始时间</span>
                <span>截止时间</span><span th:text="${#dates.format(item.ah_endtime,'yyyy-MM-dd HH:mm')}">截止时间</span>
                <button th:onclick="homeworkInfo_click([[${item.ah_id}]])">查看作业详情</button>
            </div>
        </div>
    </div>

<!--    发布作业存到数据库-->
    <form method="post" enctype="multipart/form-data" th:object="${ahhomework}" onclick="return sendhomework_click()">
        <input th:field="*{ah_name}">作业名称</input>
        <p>截止日期</p>
        <input type="datetime-local" name="endtime"
               th:value="${#dates.format(ah_endtime,'yyyy-MM-dd')}+'T'+${#dates.format(ah_endtime,'HH:mm')}">
        <p>作业内容</p>
        <textarea th:field="*{ah_homework}"></textarea>
        <input type="file" value="上传作业附件" name="fileName"/>
        <input type="submit" value="发布作业"/>
    </form>

    <script th:src="@{/js/returnEvent.js}"></script>
    <script th:src="@{/js/homework.js}"></script>
</body>
</html>