<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>班级介绍</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/classInfo.css}"/>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/classInfo.css"/>-->

</head>
<body>
    <!-- 顶部蓝色标题 -->
    <div class="headTitle">
        <div class="headTitle_返回" onclick="returnIndex()">
            <p>返回</p>
        </div>
        <div class="headTitle_班级名称">
            <p>班级名称</p>
        </div>
    </div>
    <div class="classInfoBody">
        <p class="classInfoBody_p" th:text="'班级名称：'+${classname}">班级名称</p>
        <p class="classInfoBody_p" th:text="'创建时间：'+${classtime}">创建时间</p>
        <p class="classInfoBody_p" th:text="'班级教师：'+${classteacherName}">班级教师</p>
        <p class="classInfoBody_p" th:text="'班级介绍：'+${classintroduce}">班级介绍</p>
        <p class="classInfoBody_p" th:text="'学生数量：'+${classstudentNum}">学生数量</p>
    </div>

    <script th:src="@{/js/returnEvent.js}"></script>
</body>
</html>