<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>在线答疑辅导系统</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/new_index.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
		<link rel="icon" type="image/x-icon" th:href="@{/image/icon/logo_small.ico}"/>
		
<!--		<link rel="icon" text = "image/x-icon" href="../static/image/icon/logo_small.ico" />
 		<link rel="stylesheet" type="text/css" href="../static/css/new_index.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/font.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normal.css"/> -->
	</head>
	<body class=" noselect">
		<span class="visitor" onclick="visitorClick()">游客体验</span>
			<div class="titleBox">
				<span> 在 </span><span> 线 </span><span> 答 </span><span> 疑 </span><span> 辅 </span><span> 导 </span><span> 系 </span><span>统</span>
			</div>
		<div class="cc">
			<button onclick="LWclick()">登&emsp;&emsp;录</button>
			<p style="margin: 0;">————————</p>
			<button onclick="RWclick()">注&emsp;&emsp;册</button>
			
		</div>
		
		<div class="blackMask" id="blackMask" style="visibility:hidden"></div>
		
		<div id="loginWindow" class="loginRegisteWindow">
			<div class="windowCloseBtn" onclick="closeAll()"></div>
			<div>
				<iframe id="loginIframe" class="loginIframe" src="login" frameborder="no" scrolling="no" width="100%"></iframe>
			</div>
		</div>
		
		<div id="registeWindow" class="loginRegisteWindow">
			<div class="windowCloseBtn" onclick="closeAll()"></div>
			<div>
				<iframe id="registeIframe" class="registeIframe" src="registe" frameborder="no" scrolling="no" width="100%"></iframe>
			</div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/indexWindowManager.js}"></script>
		
<!-- 		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/indexWindowManager.js"></script> -->
	</body>
</html>
