<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>在线答疑辅导系统-游客模式</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/backBodyStyle.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/headtitleStyle.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/classShowStyle.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/mainBodyStyle.css}"/>
		<link rel="icon" type="image/x-icon" th:href="@{/image/icon/logo_small.ico}"/>
		
<!-- 		<link rel="stylesheet" type="text/css" href="../static/css/font.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normal.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/backBodyStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/headtitleStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/classShowStyle.css"/>
		<link rel="icon" text = "image/x-icon" href="../static/image/icon/logo_small.ico" /> -->
	</head>
	<body>

		<div class="mainDivBox">
			<div class="mainDivBoxBg"></div>
			<p id="sdfa"></p>
			<div class="headTitle noselect">
				<img class="titleIcon"  onclick="returnIndex()"/>

				<form class="searchDiv" method="post">
					<div class="searchIcon"></div>
					<input class="searchInput" placeholder="搜索班级" type="text" name="searchclass"/>
					<button class="searchImgDiv" type="submit"><div class="searchImg"></div></button>
				</form>
				
				<div class="lrDiv">
					<div class="lrText" onclick="loginClick()">登 录</div>
					<div>/</div>
					<div class="lrText" onclick="registeClick()">注 册</div>
				</div>
				<div class=""></div>
			</div>
			<div class="headTitle_bottomLine"></div>
			<div class="headTitle_bottomLine"></div>
			<div class="headTitle_bottomLine"></div>
			<div class="classLine">
				<div class="classList">班级列表</div>
			</div>		
			<div class="headTitle_bottomLine"></div>
			<br/>
			<div class="classItembox">
				<div class="classItemInfo classItemInfo_canClick"  onclick="loginClick()" th:each="item:${mclasslist}">
					<p class="classItemInfo_name classItemInfo_Text" th:text="${item.c_classname}" >自动化测试</p>
					<p class="classItemInfo_Text" th:text="'创建老师：'+${item.c_teacherName}">创建老师:罗媛媛</p>
					<div>
						
					</div>
					<p class="classItemInfo_Text" th:text="'班级介绍:'+${item.c_introduce}">班级介绍：西南科技大学2019级自动化测试班级西南科技大学2019级自动化测试班级西南科技大学2019级自动化测试班级西南科技大学2019级自动化测试班级</p>
					<div class="classItemInfo_hitInfo">点击登录查看更多</div>
				</div>
			</div>
			<div class="headTitle_bottomLine"></div>
			<div class="pageBox">
				<span class="pageChange" id="firstPage" onclick="firstClick()">first</span>
				<span class="pageChange" id="previousPage" onclick="previousClick()">previous </span>
				<span> </span>
				<span id="nowPage" th:text="${u_nowPage}">1</span>
				<span>/</span>
				<span id="allPage" th:text="${u_allPage}">1</span>
				<span> </span>
				<span class="pageChange" id="nextPage" onclick="nextClick()">next</span>
				<span class="pageChange" id="lastPage" onclick="lastClick()">last</span>
			</div>
			<br/><br/>
		</div>



		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/index_visitor.js}"></script>
		<script th:src="@{/js/returnEvent.js}"></script>

<!-- 		<script src="../static/js/jquery.min.js"></script>
	    <script src="../static/js/index_visitor.js"></script> -->
	</body>
</html>
