<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>首页未登录</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/new_index.css.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
		<link rel="stylesheet" type="text/css" href="../static/css/new_index.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/font.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/normal.css"/>
	</head>
	<body class=" noselect">
		<span class="visitor">游客体验</span>
			<div class="titleBox">
				<span> 在 </span><span> 线 </span><span> 答 </span><span> 疑 </span><span> 辅 </span><span> 导 </span><span> 系 </span><span>统</span>
			</div>
		<div class="cc">
			<button>登&emsp;&emsp;录</button>
			<p style="margin: 0;">————————</p>
			<button>注&emsp;&emsp;册</button>
			
		</div>
		
		<div class="outWindow">
			<div></div>
			<div></div>
		</div>
		
		<script th:src="@{/js/jquery.min.js}"></script>
	    <script th:src="@{/js/index.js}"></script>
		
		<script src="../static/js/jquery.min.js"></script>
	    <script src="../static/js/index.js"></script>
	</body>
</html>
