<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线答疑辅导系统-消息通知</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/headTitleStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainBodyStyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_message.css}"/>
</head>
<body>
    <div class="mainDivBox">
        <div class="mainDivBoxBg"></div>
        <div class="headTitle noselect">
            <img class="titleIcon" onclick="returnIndex()"/>

            <span class="titleSpan">消息通知</span>

            <div class="lInfoDiv">
                <div class="lInfoText" th:text="'欢迎你！'+${user_name}"> 欢迎你！罗源同学</div>
                <div class="infoText infoText_l lrText" onclick="returnClass()">
                    <span>返回班级</span>
                </div>
                <div class="infoText infoText_r lrText" onclick="returnIndex()">退出登录</div>
            </div>
            <div class=""></div>
        </div>
        <div class="headTitle_bottomLine"></div>
        <div class="headTitle_bottomLine"></div>
        <div class="headTitle_bottomLine"></div>

        <div class="messageBox">
           <div class="messageItem" th:each="item:${messageList}">
               <div class="mtype" style="position:absolute;height:0;width:0;visibility:hidden;" th:text="${item.m_type}">1</div>
               <div class="mread" style="position:absolute;height:0;width:0;visibility:hidden;" th:text="${item.m_isread}">false</div>
               <div class="mresult" style="position:absolute;height:0;width:0;visibility:hidden;" th:text="${item.m_solveresulte}">1</div>
               <div class="messageTextBox">
                   <p class="messageText" th:text="${item.m_message}">消息通知文本</p>
                   <p class="messageTime" th:text="${#strings.substring(item.m_sendtime,0,16)}">通知时间</p>

               </div>
                 <p class="messageDeal">处理结果</p>
               <button class="rejectBtn messageBtn" th:onclick="rejectMessage([[${item.m_id}]])"></button>
                <button class="acceptBtn messageBtn" th:onclick="acceptMessage([[${item.m_id}]])"></button>
            </div>
        </div>

        <br/><br/>
        <p id="hitMessage" style="margin:0 auto;width:100px;font-size:30px;"></p>
        <br/><br/><br/><br/>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/message.js}"></script>
    <script th:src="@{/js/returnEvent.js}"></script>
</body>
</html>