<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>注册</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/normal.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/new_loginAndRegiste.css}"/>
	<link rel="icon" type="image/x-icon" th:href="@{/image/icon/logo_small.ico}"/>
<!--	<link th:href="@{/css/loginAndregiste.css}" rel="stylesheet" type="text/css"/>-->
		
<!-- 	<link rel="icon" text = "image/x-icon" href="../static/image/icon/logo_small.ico" />
	<link rel="stylesheet" type="text/css" href="../static/css/normal.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/font.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/new_loginAndRegiste.css"/> -->

</head>
<body class="registeBody noselect">
    <form id="registerDiv" class="loginRegisteForm" role="form" action="#" th:action="@{/registe}" th:object="${user}" method="post" onsubmit="return checkAll();">
        <p class="login_title">用户注册</p>
		<div class="itemInfo">
			<div class="itemImg item_num"></div>
			<input class="itemInput" placeholder="学号" type="text" id="r_num" th:field="*{u_num}"/>
		</div>
		<p class="itemInfo_pointout" id="numInfo"></p>
		<div class="itemInfo">
			<div class="itemImg item_name"></div>
			<input class="itemInput" placeholder="姓名" type="text" id="r_name" th:field="*{u_name}"/>
		</div>
		<p class="itemInfo_pointout" id="nameInfo"></p>
		<div class="itemInfo">
			<div class="itemImg item_ident"></div>
			<select class="itemInput" th:field="*{u_identity}" id="l_identSelect">
				<option value="0" >学生</option>
				<option value="1" >教师</option>
			</select>
		</div>
		
		<div class="itemInfo">
			<div class="itemImg item_pwd"></div>
			<input class="itemInput" placeholder="密码" type="password" id="r_password" th:field="*{u_password}"/>
		</div>
		<p class="itemInfo_pointout" id="passwordInfo"></p>

		<div class="itemInfo">
			<div class="itemImg item_cfmpwd"></div>
			<input class="itemInput" placeholder="确认密码" type="password" id="r_re_password"/>
		</div>
		<p class="itemInfo_pointout" id="rpasswordInfo"></p>
		
		<p class="turnLRstate turnLRstate_registe" id="turnToLogin">切换至登录</p>
			
		<div class="itemInfo_End">
			<button class="submitBtn submitBtn_registe" type="submit"  >注&emsp;册</button>
		</div>
    </form>
	<div id="imgBg"></div>

	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
	<script th:src="@{/js/initLoginRegiste.js}"></script>
	<script th:src="@{/js/loginAndRegiste.js}"></script>
	
<!-- 	<script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/md5.js"></script>
	<script src="../static/js/initLoginRegiste.js"></script>
	<script src="../static/js/loginAndRegiste.js"></script> -->
</body>
</html>
